body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#form_fundo {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#form_frente {
    text-align: center;
}

h1 {
    color: #333;
}

form {
    display: inline-block;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: #317e35;
}

button span {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #fff;
    opacity: 1;
    transition: 0.3s ease;
}

button span:nth-child(1),
button span:nth-child(2) {
    top: 0;
}

button span:nth-child(3),
button span:nth-child(4) {
    bottom: 0;
}

button:hover span:nth-child(1),
button:hover span:nth-child(4) {
    top: -5px;
}

button:hover span:nth-child(2),
button:hover span:nth-child(3) {
    bottom: -5px;
}

.flash_alert {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}